@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-panel" style="text-align: center;">

    <h1 class="minecraft-title">Bienvenido</h1>

    <p class="subtitle">
        Sistema de gestión de mobs (Bestiario)
    </p>

    <br><br>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 50px; flex-wrap: wrap;">

        <div style="display: flex; flex-direction: column; gap: 15px;">
            <a href="/Bestiario" class="button" style="width: 250px;">
                Entrar al Bestiario
            </a>
            <a href="/Biomas" class="button" style="width: 250px;">
                Entrar a Biomas
            </a>
            <a href="/Items" class="button" style="width: 250px;">
                Entrar a Items
            </a>
        </div>

        <div>
            <div class="tenor-gif-embed" data-postid="12297699549362741069" data-share-method="host" data-aspect-ratio="0.564257" data-width="220px">
                <a href="https://tenor.com/view/67-67-minecraft-minecraft-67-meme-giga-steve-gif-12297699549362741069">67 67 Minecraft GIF</a>from <a href="https://tenor.com/search/67-gifs">67 GIFs</a>
            </div>
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>

    </div>

</div>